:root {
  --mdc-theme-primary: #1976d2;
  --mdc-theme-secondary: #fdd835;
  --mdc-theme-background: #fff;
}

body{
  margin:0;
  padding:0;
  background:#272822;

  display: flex;
  height: 100vh;
}
.mdc-toolbar-fixed-adjust{
  padding-top:0;
}
.mdc-toolbar{
  z-index:100;
}

.CodeMirror{
  font-size:16px;
  height:80vh;
  z-index:0;
}


.mdc-snackbar{
  z-index:170;
}

#floating-button{
  position:fixed;
  bottom:0;
  margin:16px;
  right:0;
}

#compiledCode{
  padding:8px;
}

#showCodeDialog{
  z-index:200;
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

.mdc-drawer__header{
  padding-top:16px;
  padding-bottom:24px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

.mdc-drawer .mdc-list-item--activated{
  color:var(--mdc-theme-primary);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic{
  color:var(--mdc-theme-primary);
}


@media only screen and (min-width: 500px){
  .mobile{
    display:none;
  }
}
@media only screen and (max-width: 500px){
  .desktop{
    display:none;
  }
}
